
*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

body{
	background: #E0DDD7;
    margin-top: 170px;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.up{
    height: 110px;
    margin: 0px;
    padding: 0px;
    background-image: url("img/pattern.jpg");
    background-repeat: no-repeat;
    background-size: 1350px auto;

}


.menu{
    height: 46px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color:#44C47B;
}

.menu ul{
    list-style-type: none;
    display: flex;
    margin: 0px 0px 0px 0px;
    padding-left: 0px;
}

.menu li{
    list-style: none;
    padding-top: auto;
    padding-left: 24px;
    padding-top: 14px;
    padding-right: 24px;
    padding-bottom: 14px;
    font-size: 50 px;
    
}

.menu li:hover{
    background-color: black;
    opacity: 25%;
}

.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: PT Sans;
	position: relative;
}


.resume{
	width: 800px;
	background: #fff;
	margin: 25px auto;
	display: flex;
}

.left{
	background: #292b2f;
	width: 250px;
	padding: 0 20px;
}

.right{
	width: calc(100% - 250px);
}

.left .img_holder{
	text-align: center;
	padding: 20px 0;
}

.left .img_holder img{
	width: 200px;
	border-radius: 30px;
}

.pb{
	padding-bottom: 20px;
}

.title{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-bottom: 10px;
	color: #0779E6;
	text-align: right;
	margin-bottom: 15px;
}

.left .icon{
	font-size: 20px;
	color: #0779E6;
}

.left .text{
	color: #0779E6;
	text-transform: uppercase;
	font-size: 13px;
}

.contact .li_wrap{
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 15px;
}

.contact .li_wrap .icon{
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}

.contact .li_wrap .text{
	width: calc(100% - 50px);
	word-break: break-word;
	color: #fff;
}

.skills ul,
.hobbies ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.skills .li_wrap,
.hobbies .li_wrap{
	width: 100px;
	height: 100px;
	margin-bottom: 15px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.skills .li_wrap{
	background: #fff;
}

.skills .li_wrap .text,
.hobbies .li_wrap .text{
	margin-top: 5px;
}

.hobbies .li_wrap{
	border: 2px solid #fff;
}

.hobbies .li_wrap .icon,
.hobbies .li_wrap .text{
	color: #fff;
}

.hobbies .li_wrap:hover{
	background: #fff;
}

.hobbies .li_wrap:hover .icon,
.hobbies .li_wrap:hover .text{
	color: #0779E6;
}

.header{
	background: #292b2f;
	padding: 15px 30px;
	color: #fff;
	height: 240px;
}

.header .name{
	font-size: 52px;
	text-transform: uppercase;
	font-weight: 700;
	color: #0779E6;
}

.header .role{
	font-weight: 300;
	font-size: 20px;
}

.header .about{
	margin-top: 20px;
	line-height: 26px;
}

.right_inner{
	padding: 30px;
	color: #292b2f;
}

.right_inner .education{
	margin-top: 30px;
}

.right_inner .li_wrap{
	display: flex;
	margin-bottom: 15px;
}

.right_inner .li_wrap .date {
    width: 125px;
    color: #0779E6;
}

.right_inner .li_wrap .info{
	width: calc(100%  - 125px);

}

.right_inner .li_wrap .info_title{
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	color:#0779E6;
	margin: 20px 0px;
}

.right_inner .li_wrap .info_com{
	font-weight: 300;
	font-size: 14px;
	margin-top: 3px;
}

.right_inner .li_wrap .info_cont{
	margin-top: 15px;
}


footer{
    background-color: black;
    height: 160px;
    width: auto;
}

footer .left_infos{
    float: left;
    color: blanchedalmond;
    margin:40px 0px 0px 40px;
	font-family: Arial, Helvetica, sans-serif;
}

footer .right_infos{
    float: left;
    color: blanchedalmond;
    margin:40px 0px 0px 40px;
	font-family: Arial, Helvetica, sans-serif;
}

footer .left_infos .head_foot{
    font-weight: bolder;
}

footer .right_infos .head_foot{
    font-weight: bolder;
}

footer .left_infos .second_foot{
    font-size: 14px;
    color: #ECDBFF;
}

footer .right_infos .second_foot{
    font-size: 14px;
    color: #ECDBFF;
}

footer p{
	margin:5px 0px 5px 0px;
}

